<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 style="text-decoration: underline;">Map Location</h1> <br><br>

    <h3>Search Location through Coordinates</h3>
    <form action="/show" method="GET">
        <label for="lat">Latitude: </label>
        <input type="number" name="lat" step="0.0001" required> ,
    
        <label for="lng">Longitude: </label>
        <input type="number" name="lng" step="0.0001" required>
    
        <button type="submit">Search</button>
    </form>
        
    <hr>
    <h3>Search Location through Address</h3>
    <form action="/show" method="GET">
        <label for="address">Address </label>
        <input type="text" name="address" step="0.0001" required>
    
        <button type="submit">Search</button>
    </form>
    
    <br><br>
    <h4>Location Requested: 
        <%= latitude && longitude ? `${latitude} °N, ${longitude} °E` : address ? address : 'No location provided' %>
    </h4>
                
    <div class="map-container borderRadiusTop">
        <div class="sub-title">
            <!-- Map (Location:<=latitude%>&deg;N, <=longitude%>&deg;E) -->
        </div>
        <div class="map">
            <!-- <iframe src="https://maps.google.com/maps?q=18.519947,73.777700&amp;z=15&amp;output=embed" width="950" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <iframe src="https://maps.google.com/maps?q=<%= latitude && longitude ? `${latitude},${longitude}` : encodeURIComponent(address) %>&amp;z=8&amp;output=embed" width="950" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
        </div>
    </div>

</body>
</html>